<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/admin-dashboard.css">
    <script src="js/bootstrap.min.js" type="text/javascript"></script>
    <script src="js/jquery-3.6.1.min.js"></script>
    <title>Admin Dashboard</title>
</head>
<body>
    <div id="wrapper">
        <div class="overlay"></div>
         
             <!-- Sidebar -->
         <nav class="navbar navbar-inverse fixed-top" id="sidebar-wrapper" role="navigation">
          <ul class="nav sidebar-nav">
            <div class="sidebar-header">
            <div class="sidebar-brand">
              <a href="#">Brand</a></div></div>
            <li><a href="/inventarioDashboard">Home</a></li>
            <li><a href="/products">Productos</a></li>
            <li><a href="/logout">Cerrar Sesion</a></li>
           </ul>
       </nav>
             <!-- /#sidebar-wrapper -->
     
             <!-- Page Content -->
             <div id="page-content-wrapper">
                 <button type="button" class="hamburger animated fadeInLeft is-closed" data-toggle="offcanvas">
                     <span class="hamb-top"></span>
                     <span class="hamb-middle"></span>
                     <span class="hamb-bottom"></span>
                 </button>
                 <div class="container">
                          <div class="row justify-content-end">
                            <div class="col-md-4 p-4">
                              <select name="periodo" id="periodo">
                                <option value="1">Esta semana</option>
                                <option value="2">Este mes</option>
                                <option value="3">Este año</option>
                              </select>
                            </div>
                          </div>
                          <div class="row">
                            <!-- <a href="/products" class="col-md-4 p-4 bg-dark link-light">Products</a> -->
                              <div class="col">
                                <div class="card shadow-sm">
                                  <div class="card-header">
                                    <h4>Clientes nuevos</h4>
                                  </div>
                                  <div class="card-body">
                                      <p>115</p>
                                  </div>
                                </div>
                              </div>  
                              <div class="col">
                                <div class="card shadow-sm">
                                  <div class="card-header">
                                    <h4> Productos Vendidos</h4>
                                  </div>
                                  <div class="card-body">
                                      <p>115</p>
                                  </div>
                                </div>
                              </div> 
                              <div class="col">
                                <div class="card shadow-sm">
                                  <div class="card-header">
                                    <h4>Ganancias</h4>
                                  </div>
                                  <div class="card-body">
                                      <p>115</p>
                                  </div>
                                </div>
                              </div> 
                              <div class="col">
                                <div class="card shadow-sm">
                                  <div class="card-header">
                                    <h4>Gastos</h4>
                                  </div>
                                  <div class="card-body">
                                      <p>115</p>
                                  </div>
                                </div>
                              </div>                             
                          </div>
                          <div class="row my-4">
                            <div class="col-md-4">
                              <div class="card">
                                <canvas id="myChart"></canvas>
                              </div>
                            </div>
                            <div class="col">
                              <div class="card">
                                <canvas id="sales"></canvas>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col">
                              <div class="card">
                                <canvas id="s"></canvas>
                              </div>
                            </div>
                          </div>
                    </div>
             </div>
             <!-- /#page-content-wrapper -->          
            </div>
         </div>
         <!-- /#wrapper -->
         <script src="/js/chartjs.js"></script>

         <script>
           const ctx = document.getElementById('myChart');
           const salesCtx = document.getElementById('sales');
           const sctx = document.getElementById('s');

         
           const chart = new Chart(ctx, {
                    type: 'doughnut',
                    data: {
                      labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                      datasets: [{
                        label: '# of Votes',
                        data: [12, 19, 3, 5, 2, 3],
                        borderWidth: 1
                      }]
                    },
                  /*   options: {
                      scales: {
                        y: {
                          beginAtZero: true
                        }
                      }
                    } */
           });
           const salesChar = new Chart(salesCtx, {
              type: 'bar',
              data: {
                labels: ['enero', 'febrero', 'marzo', 'abril'],
                datasets: [{
                  label: 'Sales per month',
                  data: [10, 30, 20, 40],
                  borderWidth: 1,
                  fill: false,
                  tension: 0.4
                }]
              }
           })
           const schar = new Chart(sctx, {
              type: 'line',
              data: {
                labels: ['enero', 'febrero', 'marzo', 'abril'],
                datasets: [{
                  label: 'Ganancias por mes',
                  data: [10, 30, 20, 40],
                  borderWidth: 1,
                  fill: false,
                  tension: 0.4
                }]
              }
           })
         </script>
         <script>
            $(document).ready(function () {
      var trigger = $('.hamburger'),
          overlay = $('.overlay'),
         isClosed = false;
    
        trigger.click(function () {
          hamburger_cross();      
        });
    
        function hamburger_cross() {
    
          if (isClosed == true) {          
            overlay.hide();
            trigger.removeClass('is-open');
            trigger.addClass('is-closed');
            isClosed = false;
          } else {   
            overlay.show();
            trigger.removeClass('is-closed');
            trigger.addClass('is-open');
            isClosed = true;
          }
      }
      
      $('[data-toggle="offcanvas"]').click(function () {
            $('#wrapper').toggleClass('toggled');
      });  
    });
         </script>
</body>
</html>
