.main-container {
    background-image: url('../img/bg-1.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.logo-container {
    background-image: url('../img/bg-2.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


